<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ads</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <script>
        atOptions = {
            'key': '27790b62cf9772743c1106196c4a31a9',
            'format': 'iframe',
            'height': 250,
            'width': 300,
            'params': {}
        };
    </script>
    <script src="https://www.highperformanceformat.com/27790b62cf9772743c1106196c4a31a9/invoke.js" async></script>
</body>

</html>