<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Contact Us - Mergerot.co</title>
    <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <link rel="canonical" href="https://mergerot.co/contactus" />
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <%-include('header')%>
        <main id="body">
            <section class="py-3">
                <div class="container">
                    <article class="bg-white-alpha p-3 rounded">
                        <h1 class="fs-4 fw-bold text-white mb-3">Contact Us</h1>

                        <p>Need assistance? We're here to help!</p>

                        <p>If you have any questions, feedback, or suggestions for improving our platform, feel free to reach out. You can contact us at support@mergerot.co, and we'll do our best to respond quickly.</p>
                    </article>
                </div>
            </section>
        </main>
        <%-include('footer')%>
</body>

</html>