<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DMCA - Mergerot.co</title>
    <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <link rel="canonical" href="https://mergerot.co/dmca" />
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <%-include('header')%>
        <main id="body">
            <section class="py-3">
                <div class="container">
                    <article class="bg-content p-3 rounded">
                        <h1 class="fs-4 fw-bold mb-3">DMCA</h1>

                        <p>Start playing Merge Rot today and experience the fun of merging quirky items and characters in a chaotic, meme-inspired world.</p>

                        <p>We take copyright matters seriously and have established a procedure for addressing any concerns related to potential copyright violations on our site. If you believe that any content infringes on copyright laws, we will act promptly to remove it upon notification.</p>

                        <p>To report a claim of copyright infringement, please send a written notice to us using the contact information below. Your notice should include the following details:</p>

                        <ul>
                            <li>Your physical or electronic signature, confirming your status as the owner of an exclusive right that may have been infringed, or as an authorized representative.</li>
                            <li>Identification of the copyrighted work that you believe has been infringed. If several works are involved, please provide a representative list.</li>
                            <li>Identification of the specific material you claim is infringing, along with enough information to help us locate it easily.</li>
                            <li>Your contact information, including your address, phone number, and email address if available.</li>
                            <li>A statement asserting that you have a good faith belief that the use of the material is unauthorized by the copyright owner, their agent, or the law.</li>
                            <li>A statement confirming that the information in your notice is accurate and that you are either the owner of the exclusive right or authorized to act on their behalf.</li>
                        </ul>

                        <p>Please note that submitting a false claim of copyright infringement is illegal and may lead to legal consequences. For further assistance, you can reach us at support@mergerot.co.</p>
                    </article>
                </div>
            </section>
        </main>
        <%-include('footer')%>
</body>

</html>