<div class="footer mt-4">
    <div class="container text-center">
        <footer class="py-3 border-top">
            <div class="d-flex flex-column align-items-center">
                <ul class="nav gap-3 justify-content-center">
                    <li class=""><a href="/aboutus" class="text-secondary text-decoration-none">About Us</a></li>
                    <li class=""><a href="/contactus" class="text-secondary text-decoration-none">Contact Us</a></li>
                    <li class=""><a href="/dmca" class="text-secondary text-decoration-none">DMCA</a></li>
                    <li class=""><a href="/privacypolicy" class="text-secondary text-decoration-none">Privacy Policy</a></li>
                    <li class=""><a href="/termsofservices" class="text-secondary text-decoration-none">Terms of Service</a></li>
                </ul>
            </div>
        </footer>
    </div>
</div>
<script defer data-domain="mergerot.co" src="https://analytics.aimonstr.com/js/script.js"></script>