<div class="header">
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center align-items-center py-3">
            <a href="/"
                class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none fw-bold">
                <img src="/images/merge-rot.jpg" class="header-logo rounded me-2" alt="Merge Rot" />
                <span class="fs-4 text-white fw-bold">HER TREES</span>
            </a>

            <ul class="nav">
                <li class="nav-item"><a href="/" class="nav-link text-white text-opacity-75" aria-current="page">
                        Home
                    </a></li>
                <li class="nav-item"><a href="/merge-games" class="nav-link text-white text-opacity-75"
                        aria-current="page">
                        Merge Games
                    </a></li>
                <li class="nav-item"><a href="/papas-games" class="nav-link text-white text-opacity-75"
                        aria-current="page">
                        Papa Louie Games
                    </a></li>
                <li class="nav-item"><a href="/new-games" class="nav-link text-white text-opacity-75"
                        aria-current="page">
                        New Games
                    </a></li>
                <li class="nav-item"><a href="/hot-games" class="nav-link text-white text-opacity-75"
                        aria-current="page">
                        Popular Games
                    </a></li>
            </ul>
        </header>
    </div>
</div>